<div class="contPrinc">
    <app-separator></app-separator>
    <div class="h1">
        <div class="links">
            <a routerLink="/home">Home</a>
        </div>
        <br>
        <h1>Mi carrito de la compra</h1>
    </div>
    <div class="contTarg">
        <mat-card class="example-card">
            <mat-card-content>
                <table *ngIf="dataSource" mat-table [dataSource]="dataSource.products" class="mat-elevation-z8">
                    <ng-container matColumnDef="image">
                        <th mat-header-cell class="headerCell" *matHeaderCellDef> Producto </th>
                        <td mat-cell class="photoCell" *matCellDef="let element"><a class="photoProduct"
                                [routerLink]="['/products', element.productId]"><img src="{{element.image}}"
                                    alt="Img"></a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <a class="product" [routerLink]="['/products', element.productId]">
                                {{element.title}}
                            </a>
                            <br>
                            <br>
                            <div class="delete" (click)="deleteProduct(element.productId)">
                                <span class="material-symbols-outlined deleteIcon">
                                    delete
                                </span>
                                <span>Eliminar</span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> Categoria </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Precio/unidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}}€ </td>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                        <td mat-cell *matCellDef="let element">
                            <input class="numArt" type="number" [(ngModel)]="element.quantity"
                                (change)="updateCart(element.productId, element.quantity)">
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="totalPrice">
                        <th mat-header-cell *matHeaderCellDef> Precio </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalPrice | number: '1.2-2'}}€ </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <br>
                <div class="button">
                    <button mat-raised-button class="mat-table-styled-button">
                        Total pedido: {{dataSource?.totalPriceCart | number: '1.2-2'}}
                    </button>
                </div>
                <br>
            </mat-card-content>
        </mat-card>
        <div class="buttons">
            <button mat-raised-button color="basic" routerLink="/home">Continuar comprando</button>
            <button mat-raised-button color="primary">Tramitar pedido</button>
        </div>

    </div>
</div>