.contPrinc{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

app-separator{
    position: absolute;
    top: 0;
    height: 35px;
    width: 100%;
    background: rgba(255, 255, 255, 0);
}

div.h1{
    width: 60%;
    padding: 0 5%;
    margin-top: 40px;
}

h1{
font-size: 2.5rem;
}

a{
text-decoration: none;
font-size: 15px;
color: #0066A6;
}

.contTarg{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 60%;
    padding: 1% 5% 5%;
}

mat-card{
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
}

.photoCell{
    padding: 30px 30px;
}

.headerCell{
    padding: 0 30px;
}

a.photoProduct{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoProduct img{
    height: 80px;
}

.delete{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.deleteIcon{
    font-size: 20px;
}

.numArt{
    width: 40px;
    text-align: center;
}

.numArt:focus{
    outline: none;
}

div.button{
    display: flex;
    justify-content: flex-end;
}

.mat-table-styled-button {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    &:hover {
      background-color: white;
      color: rgba(0, 0, 0, 0.87);
    }

}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}