<div class="container">
    <div class="links">
        <div class="help">
            <h2>¿Necesitas ayuda?</h2>
            <div class="iconTextCont">
                <div class="icontext">
                    <div class="icon">
                        <img src="../../../../../assets/icons/icon_chat_footer.svg" alt="Img">
                    </div>
                    <p>Chat</p>
                </div>
                <div class="icontext">
                    <div class="icon">
                        <img src="../../../../../assets/icons/icon_email_footer.svg" alt="Img">
                    </div>
                    <p>Email</p>
                </div>
            </div>
            <p class="llama">O llama al <span class="tlf">974 215 497</span><br>(Horario: L a V de 9h a
                19h.<br>Diciembre 2, 9, 16, 23
                y 30 de Dic: 10h-18h.)
            </p>
        </div>
        <div class="list1">
            <p>Mi Cuenta</p>
            <p>Mis pedidos</p>
            <p>Mis promociones</p>
            <p>Envíos</p>
            <p>Devoluciones</p>
            <p>Condiciones compra</p>
        </div>
        <div class="list1">
            <p>Suscribirme a Newsletter</p>
            <p>Tiendas Fake-store</p>
            <p>Tarjeta regalo</p>
            <p>Mi lista de deseos</p>
            <p>Trabaja con nosotros</p>
        </div>
        <div class="socialMedia">
            <div class="socialIcons">
                <div class="facebook">
                    <img src="../../../../../assets/icons/icon_facebook_footer.svg" alt="Img">
                </div>
                <div class="youtube">
                    <img src="../../../../../assets/icons/icon_youtube_footer.svg" alt="Img">
                </div>
                <div class="instagram">
                    <img src="../../../../../assets/icons/icon_instagram_footer.svg" alt="Img">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="legal">
        <div class="payment">
            <div class="secureCont">
                <div class="secureIconText">
                    <div class="secureIcon">
                        <img src="../../../../../assets/icons/icon_lock_close.svg" alt="Img">
                    </div>
                    <p>Pagos online seguros</p>
                </div>
            </div>
            <div class="visaCont">
                <div class="visa">
                    <img src="../../../../../assets/icons/icon_visa.svg" alt="Img">
                </div>
                <div class="visa">
                    <img src="../../../../../assets/icons/icon_mastercard.svg" alt="Img">
                </div>
                <div class="visa">
                    <img src="../../../../../assets/icons/icon_paypal.svg" alt="Img">
                </div>
                <div class="visa">
                    <img src="../../../../../assets/icons/icon_aplazame.svg" alt="Img">
                </div>
            </div>
        </div>
        <div class="policy">
            <span>Politica privacidad</span>
            <span>Politica cookies</span>
            <span>Aviso legal</span>
        </div>
    </div>
    <hr>
    <div class="international">
        <span>España</span>
        <hr>
        <span>France</span>
        <hr>
        <span>Deutschland</span>
        <hr>
        <span>United Kingdom</span>
        <hr>
        <span>International</span>
    </div>
    <hr>
    <div class="copyright">
        <span>© 1995-2024 Fake-store S.L.U. Todos los derechos reservados | P</span>
    </div>
</div>