.contPrinc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 1% 5% 5%;
}

app-separator{
    position: absolute;
    top: 0;
    height: 35px;
    width: 100%;
    background: rgba(255, 255, 255, 0);
}

div.h1{
        width: 60%;
        padding: 0 5%;
        margin-top: 40px;
}

h1{
    font-size: 2.5rem;
        height: 78px;
    display: flex;
    align-items: center;
}

a, span{
    text-decoration: none;
    font-size: 1.2rem;
    color: #0066A6;
}

.contTarg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 60%;
}

.photo{
    height: 600px;
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


img{
    height: 100%;
    width: 100%;
    object-fit: contain;

}

mat-card{
    // height: 75%;
    width: 300px;
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ratings{
    display: flex;
    justify-content: center;
}

mat-card-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep .my-custom-button {
    background-color: var(--amarillo) !important;
}