<div class="contPrinc">
    <app-separator></app-separator>
    <div class="h1" *ngIf="product">
        <div class="links" *ngIf="!historyStateData">
            <a routerLink="/home">Home</a>
            <span> || </span>
            <a routerLink="/{{product.category | categoryRouting}}">{{product.category | categoryTraductor}}</a>
        </div>
        <div *ngIf="historyStateData" class="Links">
            <a routerLink="/home">Home</a>
            <span> || </span>
            <a routerLink="/products" [queryParams]="{productName: historyStateData.productName, womenClothes: historyStateData.womenClothes,
            menClothes: historyStateData.menClothes, jewelry: historyStateData.jewelry, electronics: historyStateData.electronics,
            minPrice: historyStateData.minPrice, maxPrice: historyStateData.maxPrice, minRating: historyStateData.minRating,
            maxRating: historyStateData.maxRating}" [state]="{orderData: orderData}">
                Volver a la búsqueda</a>
        </div>
        <br>
        <h1>{{product.title}}</h1>
    </div>
    <div class="contSec">
        <div class="contTarg" *ngIf="product">
            <div class="photo">
                <img src="{{product.image}}" alt="Photo">
            </div>
            <mat-card class="example-card">
                <mat-card-content>
                    <p>
                        {{product.description}}
                    </p>
                </mat-card-content>
                <div class="ratings">
                    <star-rating [starType]="'svg'" [rating]="redondeo(product.rating.rate)" [showHalfStars]="true"
                        [readOnly]="true" staticColor="ok"></star-rating>
                    <p>({{product.rating.count}} opiniones)</p>
                </div>
                <mat-card-title>{{product.price}}€</mat-card-title>
                <mat-card-actions>
                    <button mat-stroked-button class="my-custom-button" (click)="addToCart(product)">Añadir al
                        carrito</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>