mat-card{
  gap:20px
}

.formCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .example-card {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(244, 244, 244);
  }

  mat-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  mat-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  a{
    cursor: pointer;
    text-decoration: none;
    color: #0066A6;
  }

  mat-card-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  mat-divider{
    width: 100%;
  }

  mat-form-field{
    width: 400px;
  }
