<mat-toolbar>
  <button class="menu" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer left"></span>
  <div class="fakeStore-icon" routerLink="/home">
    <div class="fake-icon">
      <img src="../assets/icons/181591.png" alt="img">
    </div>
    <a class="fakeStore">Fake Store</a>
  </div>
  <span class="example-spacer"></span>

  <mat-toolbar class="secondaryToolbar">
    <a mat-flat-button class="my-custom-button" routerLink="/women-clothing">Ropa Mujer</a>
    <a mat-flat-button class="my-custom-button" routerLink="/men-clothing">Ropa Hombre</a>
    <a mat-flat-button class="my-custom-button" routerLink="/jewelry">Joyería</a>
    <a mat-flat-button class="my-custom-button" routerLink="/electronics">Electrónica</a>
    <div class="search">
      <input type="text" placeholder="Buscar..." (click)="openDialog()" readonly>
      <span class="material-symbols-outlined">
        search
      </span>
    </div>
  </mat-toolbar>
  <span class="example-spacer"></span>

  <div class="bienvenido">
    <span>{{logedUser ? 'Bienvenido!': null}}</span>
    <button class="user" (click)="sidenav.close()" [matMenuTriggerFor]="afterMenu">
      {{logedUser ? logedUser.username: null}}<span class="material-symbols-outlined" *ngIf="logedUser">
        arrow_drop_down
      </span></button>
    <mat-menu #afterMenu="matMenu" class="userMenu" #userMenu="matMenu" xPosition="after">
      <button mat-menu-item routerLink="/profile">Mi Perfil</button>
      <button mat-menu-item routerLink="/orders">Mis Pedidos</button>
    </mat-menu>
  </div>
  <span class="example-spacer"></span>
  <div class="user-links" (click)="sidenav.close()">
    <div class="login" (click)="loginLogout()">
      <span>
        {{token ? "Logout" : "Login"}}
      </span>
      <button class="custom-icon-button" aria-label="Example icon-button with heart icon">
        <span class="material-symbols-outlined">
          {{token ? "logout" : "login"}}
        </span>
      </button>
    </div>
    <div class="shoping-cart" routerLink="/cart">
      <span>
        Mi carrito
      </span>
      <button class="custom-icon-button" aria-label="Example icon-button with share icon">
        <span class="material-symbols-outlined" [matBadge]="cartLength" [matBadgeHidden]="cartLength < 1"
          matBadgeColor="warn">
          shopping_cart
        </span>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <mat-list-item routerLink="home" (click)="sidenav.toggle()">
        <a matListItemTitle>Home</a>
        <button matListItemMeta class="custom-icon-button">
          <span class="material-symbols-outlined">
            home
          </span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="electronics" (click)="sidenav.toggle()">
        <a matListItemTitle>Electronica</a>
        <button matListItemMeta class="custom-icon-button">
          <span class="material-symbols-outlined">
            cable
          </span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="jewelry" (click)="sidenav.toggle()">
        <a matListItemTitle>Joyeria</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            diamond
          </span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="men-clothing" (click)="sidenav.toggle()">
        <a matListItemTitle>Ropa Hombre</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            man
          </span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="women-clothing" (click)="sidenav.toggle()">
        <a matListItemTitle>Ropa Mujer</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            woman
          </span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="token" routerLink="orders" (click)="sidenav.toggle()">
        <a matListItemTitle>Mis Pedidos</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            list_alt
          </span>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="token" routerLink="profile" (click)="sidenav.toggle()">
        <a matListItemTitle>Mi Perfil</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            account_circle
          </span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="home" (click)="sidenav.toggle(); loginLogout()">
        <a matListItemTitle>{{token ? 'Cerrar Sesion' : 'Iniciar sesión'}}</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            {{token ? 'logout' : 'login'}}
          </span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>