.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    background-color: #FFCC00;
    color: black;
    height: 7%;
  }

  .fakeStore-icon{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }

  .fakeStore{
    text-decoration: none;
    color: black;
  }

  .fake-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img{
    width: 100%;
  }

  .secondaryToolbar{
    height: 60%;
    width: 50%;
    background-color: #dbb314;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  :host ::ng-deep .my-custom-button {
    background-color: #dbb314 !important;
    border-radius: 20px;
}

.search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.secondaryToolbar input{
  height: 75%;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 0 15px;
}

.secondaryToolbar span{
  position: absolute;
  right: 10px;
}

  .example-container {
    position: absolute;
    top: 7%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    height: 93%;
  }

  .custom-icon-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
  }

  .menu{
    display: none;
    //de none tiene que pasar al de abajo, y .example-spacer left pasar a none
    // display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }
  
  .menu:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .bienvenido{
    display: flex;
    gap: 10px;
    font-size: 15px;
    margin-right: 15px;
  }

  .user-links{
    display: flex;
  }

  .user{
    background-color: #FFCC00;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  div.login, div.shoping-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    cursor: pointer;
    padding: 5px 15px;
    gap: 5px;
  }

  div.login:hover, div.shoping-cart:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }

  mat-sidenav-content{
    background-color: white;
  }

  mat-sidenav{
    display: none;
  }
