<mat-toolbar>
  <button class="menu" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Fake Store</span>
  <span class="example-spacer"></span>
  <div class="user-links" (click)="loginLogout();sidenav.close()">
    <div class="login">
      <span>
        {{token ? "Logout" : "Login"}}
      </span>
      <button class="custom-icon-button" aria-label="Example icon-button with heart icon">
        <span class="material-symbols-outlined">
          {{token ? "logout" : "login"}}
        </span>
      </button>
    </div>
    <div class="shoping-cart">
      <span>
        Mi carrito
      </span>
      <button class="custom-icon-button" aria-label="Example icon-button with share icon">
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <mat-list-item routerLink="home" (click)="sidenav.toggle()">
        <a matListItemTitle>Home</a>
        <button matListItemMeta class="custom-icon-button">
          <span class="material-symbols-outlined">
            home
          </span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="electronics" (click)="sidenav.toggle()">
        <a matListItemTitle>Electronica</a>
        <button matListItemMeta class="custom-icon-button">
          <span class="material-symbols-outlined">
            cable
          </span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="jewelry" (click)="sidenav.toggle()">
        <a matListItemTitle>Joyeria</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            diamond
          </span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="men-clothing" (click)="sidenav.toggle()">
        <a matListItemTitle>Ropa Hombre</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            man
          </span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="women-clothing" (click)="sidenav.toggle()">
        <a matListItemTitle>Ropa Mujer</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            woman
          </span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="token" routerLink="orders" (click)="sidenav.toggle()">
        <a matListItemTitle>Mis Pedidos</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            list_alt
          </span>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="token" routerLink="profile" (click)="sidenav.toggle()">
        <a matListItemTitle>Mi Perfil</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            account_circle
          </span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="home" (click)="sidenav.toggle(); loginLogout()">
        <a matListItemTitle>{{token ? 'Cerrar Sesion' : 'Iniciar sesión'}}</a>
        <button class="custom-icon-button" matListItemMeta>
          <span class="material-symbols-outlined">
            {{token ? 'logout' : 'login'}}
          </span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>