.title{
  position: relative;
}

.title span{
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .search{
    width: 100%;
  }

  mat-slider {
    width: 500px;
  }

  .rating mat-slider{
    width: 200px;
  }

  #actions{
    display: flex;
    justify-content: flex-end;
  }

  :host ::ng-deep .my-custom-button {
    background-color: var(--amarillo) !important;
}