<mat-card class="example-card" (click)="goToProduct()">
    <div class="photo">
        <img mat-card-image src="{{product.image}}" alt="Photo">
    </div>
    <mat-card-content>
        <br>
        <p>{{product.title | productTitleMax}}</p>
        <star-rating [starType]="'svg'" [rating]="redondeo(product.rating.rate)" [showHalfStars]="true"
            [readOnly]="true" staticColor="ok"></star-rating>
    </mat-card-content>
    <mat-card-actions>
        <mat-card-title>{{product.price}}€</mat-card-title>
        <button mat-stroked-button class="my-custom-button" (click)="goToProduct()">Ver producto</button>
    </mat-card-actions>
</mat-card>