mat-card{
    width: 250px;
    height: 470px;
    background-color: rgb(244, 244, 244);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.photo{
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;

}

mat-card-actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 79px;
}

:host ::ng-deep .my-custom-button {
    background-color: #ecbf0c !important;
}





