/* You can add global styles to this file, and also import other style files */
@import '~css-star-rating/css/star-rating.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --amarillo: #FFCC00;
    --grisOscuro: #5B5B5B;
    --grisClaro: #bebebe;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
